/* In your CSS file, style your form so that it has a dark background and white text */

.darkmode {
    background-color: #322D2C;
    color: white;
}

/* form {
    height: 30vh;
    padding: 10vh;
} */

.jordan {
    font-size: 3em;
}


.row {
    display: flex;
}

#article1{
    border: 2px dotted blue;
    flex-basis: 50%;
    margin: 1em;

}

#article2 {
    border: 2px dotted red;
    flex-basis: 50%;
    margin: 1em;
}